[submodule "themes/alageek"]
	path = themes/alageek
	url = https://github.com/gkmngrgn/hugo-alageek-theme.git
[submodule "public"]
	path = public
	url = git@github.com:devopsdetroit/devopsdetroit.github.io.git
	branch = master
